<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup d-flex flex-row">
      <div class="navbar-nav mr-auto mt-2 mt-lg-0">
        <a class="nav-link" href="/urls"><b>My URLs</b></a>
        <a class="nav-link" href="/urls/new"><b>Create New URL</b></a>
      </div>
        <% if (userid === null) { %>
        <form method="GET" action="/login" class = "form-inline mr-5 my-lg-0">
        <input type="submit" value="  Log In  " class="btn btn-outline-dark btn-lg"></form>
        <form method="GET" action="/register" class = "form-inline mr-5 my-lg-0">
        <input type="submit" value="Register" class="btn btn-outline-dark btn-lg"></form>
        <% } else { %>
        <div align = "center"><div class = "w-100 p-2 form-inline my-2 my-lg-0">You Are Logged As :    <%=  users[userid]['email']%></div></div>
        <form method="POST" action="/logout"><input type="submit" value="Log Out" class="btn btn-outline-dark btn-lg"></form></td>
        <% } %>
    </div>
  </nav>
</header>
