<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup d-flex flex-row">
      <div class="navbar-nav mr-auto mt-2 mt-lg-0">
        <a class="nav-link" href="/urls"><b>My URLs</b></a>
        <a class="nav-link" href="/urls/new"><b>Create New URL</b></a>
      </div>
      <form class="form-inline my-2 my-lg-0">
        <form method="POST" action="/login" class = "form-inline"><input type="text" name = 'longURL' id = 'longURL' value = "" placeholder= "Username" class= "form-control">
        <input type="submit" value="Proceed" class="btn btn-secondary"></form>
      </form>
    </div>
  </nav>
</header>
