<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>

<%- include('partials/_header_reg') %>

<body style = "text-align: center; justify-content: center">
<div style = 'display:flex; position:absolute; top:0; bottom:0; right:0; left:0;'>
<div style = "margin:auto;">
<form action = "/login" method = "POST">
  <div class="form-group">
    <label for="emailID"><b>Email address</b></label>
    <input type="email" class="form-control" id="emailID" aria-describedby="emailHelp" placeholder="Enter your email to login" name = "email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
</form>
</div>
</div>

<%- include('partials/_footer') %>